:root {
  font-family: "Roboto", "Quicksand", sans-serif;
}

body {
  background-color: hsl(251, 30%, 78%);
}

.link-to-table {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background-color: 646cff;
}

.link-to-table:hover {
  color: #2e3280;
}

.home-header {
  text-align: center;
}

.home-container {
  padding-top: 5vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #18abcc;
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #6a96b3;
}

tr:nth-child(even) {
  background-color: #74bbeb;
}
